data/*
data/raw/taxi_demand_features_combined_raw.parquet
data/raw/taxi_demand_features_raw.parquet
!data/raw/
!data/*.dvc

*.ipynb_checkpoints/
*__pycache__/
models/
*mlruns/
*.py[cod]
.venv/
venv/
env/
mlflow/
mlflow.db